<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="img2"><img src="assets/IMG/WhatsApp Image 2022-02-03 at 14.07.49.jpeg" alt=""></div>
  
        <!-- <div class="edit-profile d-flex justify-content-center"><a href=""><i class="bi bi-pencil-square"></i></a></div> -->
  
        <div class="main-text align-text-center">
          <!-- <h4>{{persona.nombre}} {{persona.apellido}}</h4>
          <h5>{{persona.titulo}}</h5> -->
        </div>
      </div>
      <div class="col-md-8">
        <div class="row align-items-start">
          <div class="col">
            <h2>Sobre Mi</h2>
          </div>
  
          <div class="col">
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#sobreMiModal"></button>
  
            </div>
          </div>
  
        </div>
        <div class="text">
          <!-- <p>{{persona.acercaDe}}</p> -->
        </div>
      </div>
    </div>
  </div>
