  <div class="container">
    <div class="col-12 d-flex justify-content-between">
      <h2 style="font-weight: bolder ;"><i class="bi bi-wrench-adjustable-circle"></i> Habilidades</h2>
      <button *ngIf="isAdmin" class="btn btn-outline-dark" (click)="open(content)"><i class="bi bi-plus-square"></i></button>
    </div>
    <br>
      
       
    <div *ngFor="let habilidad of habilidad" class="row ">
      
          <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                  <img class="img img-fluid" src="{{habilidad.logo}}"  accept="image/*">
                  <h5>{{habilidad.nombre}}</h5> 
              </div>
              <div class="d-flex justify-content-end">
                  <button *ngIf="isAdmin" class="btn btn-outline-primary" (click)="openEdit(contentEdit,habilidad)"><i class="bi bi-pencil"></i></button>
                  <button *ngIf="isAdmin" class="btn btn-outline-danger" (click)="openDelete(contentDelete,habilidad)"> <i class="bi bi-trash"></i> </button>
              </div>       
          </div>         
        <div >
          <div>
            <ngb-progressbar 
                type="success"
                [max]="100"
                [value]="habilidad.porcentaje"
                [striped]="false"
                [animated]="true" >
                <i>{{habilidad.porcentaje }}%</i> 
                
              </ngb-progressbar> 
            
          </div>   
        
    
    </div>
  </div>

<!-- Modal Agregar Habilidad -->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Agregar habilidad</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">

      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
          <label>Nombre</label>
          <div class="input-group">
            <input class="form-control" name="nombre" #nombre="ngModel" ngModel required>
          </div>
          <span *ngIf="nombre.invalid && nombre.touched" class="error">Ingrese Porcentaje</span>
        </div>
        <div class="form-group">
          <label for="porcentaje">Porcentaje</label>
          <div class="input-group">
            <input 
            type="range" 
            class="form-range" 
            id="porcentaje" 
            name="porcentaje"  
            #porcentaje="ngModel"
            ngModel required>
          </div>
        </div>
        <div class="form-group">
          <label for="logo">logo</label>
          <div class="input-group">
            <input 
            type="file" 
            alife-file-to-base64 (onFileChanged)="obtener($event)" 
            id="logo" 
            name="logo" 
            class="form-control" 
            #logo="ngModel"
            ngModel required>
            <img src="{{base64}}" height="100px"> 
          </div>
          <span *ngIf="logo.invalid && logo.touched" class="error">Ingrese Logo</span>
        </div>
        <br>

        <div class="modal-footer">
          <button type="submit"  [disabled]="f.invalid" class="btn btn-outline-dark" (click)="c('Save click')">Agregar</button>
        </div>
      </form>
    </div>
  </ng-template>

<!-- Modal Editar Habilidad -->
  <ng-template #contentEdit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title2">Editar habilidad</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm" novalidate>
      
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <div class="input-group">
            <input 
            formControlName="nombre" 
            class="form-control">
          </div>
        </div>
       
        <div class="form-group">
            <label for="porcentaje">Porcentaje:</label>
            <div class="input-group">
              <input
                type="range"
                id="customRange"
                name="porcentaje"
                class="form-range"
                formControlName="porcentaje"
                ngModelChange/>
            </div>
        </div>
       
      
        <div class="form-group">
          <label for="logo">Logo:</label>
          <div class="input-group">
            <input type="file" 
            alife-file-to-base64 (onFileChanged)="obtener($event)" 
            name="logo" 
            class="form-control">
            <img src="{{this.editForm.value.logo}}" height="100px"> 
          </div>
        </div>

      </form>


      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary" (click)="onSave()">Actualizar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
      </div>
    </div>
  </ng-template>


 <!-- Modal Eliminar Habilidad -->
  <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Eliminar Habilidad</h4>
      <button class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      </button>
    </div>
    <div class="modal-body">
      <h3>Esta seguro de eliminar este registro?</h3>
    </div>
    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Eliminar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>
